@import "../../variables.css.less";

.block-locale-language {
  background: transparent;
  float: right;
}

.block-locale-language ul {
  list-style: none;
}

.block-locale-language a {
  background-color: #555;
  border-radius: 0 0 0 @base-radius;
}

.block-locale-language a:hover {
  background-color: #5a5a5a;
}
