/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

.sidebar .block,
.region-footer .block {
  padding: 10px;
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

.block a.feed-subscribe {
  background: #fb9d3a url('../images/feed-icon.png') left center no-repeat;
  background:
    url('../images/feed-icon.png') left center no-repeat,
    -moz-linear-gradient(
      top center,
      #fb9d3a 0%,
      #db5e2a  100%
    );
  background:
    url('../images/feed-icon.png') left center no-repeat,
    -o-linear-gradient(
      top,
      #fb9d3a,
      #db5e2a
    );
  background:
    url('../images/feed-icon.png') left center no-repeat,
    -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0, #fb9d3a),
      color-stop(1, #db5e2a)
    );
  border: 2px solid #f69d51;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 1.4em;
  padding: 5px 15px 5px 35px;
  position: relative;
  overflow: hidden;
}

.block a.feed-subscribe:before {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  content: ' ';
  display: block;
  height: 200%;
  left: -50%;
  position: absolute;
  top: -140%;
  width: 200%;
}

.block a.feed-subscribe:hover {
  background: #fb9d3a url('../images/feed-icon.png') left center no-repeat;
  text-decoration: none;
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}
