/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  line-height: 94px; /* Header height. */
  margin-top: -94px;
  margin-left: 400px;  /* Logo width. */
  width: auto;
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0;
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
  font-size: 1.2em;
  font-weight: bold;
  list-style: none;
  text-transform: lowercase;
}

#main-menu a {
  color: #ccc;
  display: block;
  padding: 0 25px;
  text-decoration: none;
  text-shadow: 0 0 10px #444;
  z-index: 10;

     -moz-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
     -moz-transition-property: background-image, color, text-shadow;
       -o-transition-property: background-image, color, text-shadow;
  -webkit-transition-property: background-image, color, text-shadow;
}

#main-menu a:hover,
#main-menu a:focus,
#main-menu a:active,
#main-menu li:hover  > a,
#main-menu li:focus  > a,
#main-menu li:active > a,
#main-menu li.active a {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0,   rgba(255, 255, 255, 0.00)),
    color-stop(0.5, rgba(255, 255, 255, 0.05)),
    color-stop(1,   rgba(255, 255, 255, 0.00))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgba(255, 255, 255, 0.00)   0%,
    rgba(255, 255, 255, 0.05)  50%,
    rgba(255, 255, 255, 0.00) 100%
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.00)   0%,
    rgba(255, 255, 255, 0.05)  50%,
    rgba(255, 255, 255, 0.00) 100%
  );
  color: #fff;
  outline: 0;
  text-shadow: 0 0 60px #fff;
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
