/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */

#content div.tabs {
  border: 1px solid #ddd;
  border-width: 1px 0;
  background-color: rgba(0, 0, 0, 0.02);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0,   rgba(0, 0, 0, 0.08)),
    color-stop(0.5, rgba(0, 0, 0, 0.00))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgba(0, 0, 0, 0.08)  0%,
    rgba(0, 0, 0, 0.00) 50%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.08)  0%,
    rgba(0, 0, 0, 0.00) 50%
  );
  margin: 10px -10px;
  overflow: hidden;
}

#content div.tabs ul {
  border: none;
  float: right;
  margin: 0;
  padding: 4px 20px 4px 20px;
}

#content div.tabs li {
  float: left;
}

#content div.tabs a {
  background: none;
  border: 0;
  color: #222;
  margin: 0;
  text-decoration: none;
  padding: 4px 15px 4px;
}

#content div.tabs a:hover {
  color: #666;
}

#content div.tabs li.active a {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0,   rgba(0, 0, 0, 0.08)),
    color-stop(0.2, rgba(0, 0, 0, 0.00))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgba(0, 0, 0, 0.08)  0%,
    rgba(0, 0, 0, 0.00) 20%
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.08)  0%,
    rgba(0, 0, 0, 0.00) 20%
  );
  color: #3c3c3c;
}
