@import "../variables.css.less";
@import "../property/property.css.less";

body {
  background: #ebebeb url('../../images/page-bg.png');
}

#admin-menu li.admin-menu-icon {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
  background: -moz-linear-gradient(top center, #fff 0%, #ccc 100%);
}

#messages {
  margin: 0 @base-margin @base-margin;
}

.messages {
  .border-radius(@base-radius);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
