@import "variables.css.less";

.main-menu {
  font-weight: bold;
  margin: @base-margin 0;
  text-align: center;
  text-transform: lowercase;
}

.main-menu li {
  float: left;
  margin: 0;
  width: 50%;
}

.main-menu a:link,
.main-menu a:visited {
  color: #ccc;
  display: block;
  padding: @base-margin 0;
  text-decoration: none;
  text-shadow: 0 0 10px #444;
  transition-duration: 0.4s;
  transition-property: background-image, color, text-shadow;
  z-index: 10;
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active,
.main-menu li:hover a,
.main-menu li:focus a,
.main-menu li:active a,
.main-menu li.active a {
  color: #fff;
  outline: 0;
  text-shadow: 0 0 25px #fff;
}

.responsive-layout-narrow,
.responsive-layout-normal,
.responsive-layout-wide {
  .region-menu .region-menu-inner,
  .region-menu .navigation,
  .region-menu .main-menu {
    display: block;
    height: 100%;
  }

  .navigation {
    position: relative;
  }

  .main-menu {
    float: right;
    margin: 0;
  }

  .main-menu li {
    display: table;
    height: 100%;
    width: auto;
  }

  .main-menu a:link,
  .main-menu a:visited {
    display: table-cell;
    height: 100%;
    padding: 0 @base-margin / 2;
    vertical-align: middle;
  }
}

.responsive-layout-normal {
  .main-menu a:link,
  .main-menu a:visited {
    padding: 0 @base-margin;
  }
}

.responsive-layout-wide {
  .main-menu a:link,
  .main-menu a:visited {
    padding: 0 @base-margin * 2;
  }
}
