@import "variables.css.less";

.region-menu .region-menu-inner,
.region-menu .navigation,
.region-menu .main-menu {
  display: block;
  height: 100%;
}

.main-menu {
  float: right;
  margin: 0;
}

.main-menu li {
  display: table;
  height: 100%;
  width: auto;
}

.main-menu a {
  display: table-cell;
  height: 100%;
  padding: 0 @base-margin * 2;
  vertical-align: middle;
}
