@import "elements.css.less";
@import "properties.css.less";
@import "variables.css.less";

.block-locale-language {
  text-align: right;
}

.block-locale-language a {
  background: url('../images/flags.png') top left no-repeat;
  padding-left: 24px;
}

.block-locale-language .en a {
  background-position: 0 -15px;
}

.block-locale-language .pt-br a {
  background-position: 0 -63px;
}

.block-locale-language a:link,
.block-locale-language a:visited {
  color: #ccc;
  text-decoration: none;
}

.block-locale-language a:hover {
  color: #fff;
}

.responsive-layout-narrow,
.responsive-layout-normal,
.responsive-layout-wide {
  .block-locale-language {
    background-color: #444;
    border-radius: 0 0 @base-radius @base-radius;
    bottom: -2em;
    display: block;
    height: 2em;
    margin: 0;
    opacity: 0.6;
    padding: 0;
    position: absolute;
    right: @base-margin;
    .transition(opacity, 0.25s);
    z-index: 10;
  }

  .block-locale-language:hover {
    opacity: 1;
  }

  .block-locale-language .block-title {
    .element-invisible();
  }

  .block-locale-language ul {
    margin: 0;
  }

  .block-locale-language li {
    display: inline;
    margin: 0 @base-margin / 2;
    padding: 0;
  }

  .block-locale-language li.active {
    .element-invisible();
  }

  .block-locale-language a {
    line-height: 1.75em;
    padding: 0 (@base-margin / 2) (@base-margin / 2) (@base-margin / 2) + 24px;
  }
}
